.input__container {
  border: 2px dotted red;
  display: flex;
  flex-direction: column;
  width: 25%;
  overflow: hidden;
  padding: 10px;

  margin: 5px auto;
}

label {
  text-align: left;
  margin: 10px 0px;
}

input.input__input {
  border: 1px solid #f4f4f4;
  border-left: none;
}

/* unit */
.unit-input {
  border: #dfdfdf solid 1px;
  display: table;
  overflow: hidden;
}

.unit-input__prepend {
  color: #a3a0a0;
  padding: 0.5em;
  flex-grow: 0;
  display: table-cell;
  vertical-align: middle;
  font-weight: 500;
}

.unit-input__input {
  padding: 0.5em;
  font-size: 1em;
}

.unit-input__input:focus {
  background: #f4f4f4;
  outline: none;
}

#loan-length {
  border: #dfdfdf solid 1px;
  height: 2.5vw;
}